
<button (click)="goprevious()"> Go Back </button>
<button (click)="gonext()"> Go Next </button>

<a routerLink="overview"> Overview of Department </a>
<a routerLink="adddepartment"> Add New Department </a>
<a routerLink="deletedepartment"> Delete Department </a>
<router-outlet> </router-outlet>
